<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="background-color: green; width: 100%; margin: 0; padding: 12px 32px">
        <h1 style="color: white;">Dwitter</h1>
        <h3 style="color: white;">Your tiny social network built with Django</h3>
    </div>
    
    <div style="display: flex; justify-content: space-between; gap: 60px; padding: 12px 32px">
        <div style="flex: 80%;">
            <h1>{{ user_profile.username }}'s Dweets</h1>
            {% for tweet in tweets %}
                <div style="border: 1px solid black; padding: 10px; margin: 10px;">
                    <p>{{ tweet.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div style="flex: 20%; text-align: left; padding-right: 32px;">
            <h2>{{user_profile.username}} follows</h2>
            {% for user in user_profile.following %}
                <p>{{ user }}</p>
            {% endfor %}
            <h2>{{user_profile.username}} is followed_by</h2>
            {% for user in user_profile.followers %}
                <p>{{ user }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>