<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="background-color: green; width: 100%; margin: 0; padding: 12px 32px">
        <h1 style="color: white;">Dwitter</h1>
        <h3 style="color: white;">Your tiny social network built with Django</h3>
    </div>
    <div style="padding: 12px 32px">
        <h1>Users</h1>
        {% for user in users %}
            <a href="{% url 'profile' user.id %}" style="text-decoration: none; color: inherit;">
                <div style="border: 1px solid black; padding: 10px; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
                    <div style="display: flex; align-items: center;">
                        <div style="background-color: gray; width: 50px; height: 50px; margin-right: 10px;"></div>
                        <div>
                            <h2>{{ user.username }}</h2>
                            <p>@{{ user.usertag }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>